{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/static/face-rec.css" />
<script defer src="/static/face-api.min.js"></script>
<script defer src="/static/script.js"></script>
{% endblock %} 

{% block title %}MoodSwings{% endblock %} 

{% block body %}
<video id="video" width="1" height="1" autoplay muted></video>
    <div class="container">
            <iframe 
            id="iframeid"
            class="iframe"
            style="border-radius:12px" 
            src="{{ 'https://open.spotify.com/embed/playlist/' + playlist_url + '?utm_source=generator' }}" 
            width="100%" height="100%" 
            frameBorder="0" allowfullscreen="" 
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
            loading="lazy">
        </iframe>
            <div class="sub1">
                <div id="log1">Detected expression: </div>
                <div id="log"></div>
            </div>
        
    </div>
{% endblock %}
