{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/static/face-rec.css" />
<script defer src="/static/face-api.min.js"></script>
<script defer src="/static/script.js"></script>
{% endblock %} 

{% block title %}MoodSwings{% endblock %} 

{% block body %}
<video id="video" width="100" height="100" autoplay muted></video>
    <div class="container">
            <iframe
            id="iframeid"
            class="iframe"
            style="border-radius:12px" 
            src="{{ 'https://open.spotify.com/embed/playlist/' + playlist_url + '?utm_source=generator' }}" 
            width="100%" height="100%" 
            frameBorder="0" allowfullscreen="" 
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
            loading="lazy">
        </iframe>
            <div class="sub1">
                <div id="log1">Detected expression: </div>
                <div id="log2">Number of people: </div>
                <div id="log">Detecting...<br></div>
                <div class="buttons">
                    <button onclick="self.location.reload();">Refresh</button>
                    <button onclick="goBack()" class="btn btn-primary">Back</button>
                </div>
            </div>
    </div>
    <script>
        function goBack() {
          if (window.history && window.history.replaceState) {
            // Use replaceState to go back without triggering form resubmission alert
            window.history.replaceState(null, null, window.location.href);
            // Navigate back one step
            window.history.back();
          } else {
            // Fallback for browsers that do not support replaceState
            window.history.back();
          }
        }
      </script>
{% endblock %}
